@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@1,100;1,400&display=swap");

body {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
}

/* Resets */

:root {
  --primaryColor: #272a31;
  --secondaryColor: #d3d3d3;
  --concentColor: #ec5242;
  --txtColor: #fff;
}

/* Mobile starts here */

/* mobile-nav */
.sub-nav,
.nav-menu {
  display: none;
}

.mob-menu {
  display: flex;
  align-items: center;
  margin: 2%;
}

.mob-menu img {
  margin: auto;
}

header {
  width: 100%;
  background-color: var(--txtColor);
  top: 0;
}

.fa-bars {
  cursor: pointer;
}

/* intro section */
.intro {
  background-image: url(./images/mobile_intro_bg.png);
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

.hero-section {
  margin: 5%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  color: var(--concentColor);
  padding-top: 50px;
}

.intro-text > * {
  margin-bottom: 1px;
}

.intro-text h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 10px;
}

.intro-text h2 {
  font-weight: 400;
}

.hero-paragraph {
  border: 3px solid var(--txtColor);
  margin: 5% 0.97%;
  font-size: 1rem;
}

.hero-paragraph p {
  margin: 3%;
}

/* our location */
.our-location {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding-top: 4vh;
}

.date {
  font-weight: 900;
}

/* main-program section */
.main-program {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
}

.program {
  color: var(--txtColor);
  display: flex;
  gap: 18px;
  margin: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  width: 85%;
  align-items: center;
  margin-top: 8px;
  padding: 0.8rem;
}

.program p {
  color: var(--concentColor);
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
}

.program-heading {
  text-align: center;
  color: var(--txtColor);
  padding: 5vh 0;
}

.program-heading h1 {
  font-size: 24px;
}

.program-heading hr {
  width: 20%;
  border: 1px solid var(--concentColor);
  margin-top: -10px;
}

.join-us {
  text-align: center;
  padding: 30px;
}

.join-us button {
  background-color: var(--concentColor);
  height: 60px;
  width: 300px;
  border: none;
  color: var(--txtColor);
  font-weight: 500;
  font-size: 1rem;
}

/* speakers */
.speakers .program-heading h1 {
    color: var(--primaryColor);
}

.speakingInt {
    display: flex;
    flex-direction: column;
}

.speakerInt {
    display: flex;
    gap: 12px;
}

.speak-container {
    width: 85%;
    margin: auto;
}

.speaker-name {
    font-weight: 800;
    font-size: 1rem;
}

.speakerInt img {
    width: 35vw;
}

.speaker-profession {
    font-size: 60%;
    color: var(--concentColor);
    font-style: italic;
}

.speaker-description {
    font-size: 70%;
}

/* sponsors stated here */
.sponsor img {
  filter: grayscale(100%);
}

.partners {
  background-color: var(--primaryColor);
  width: 100%;
}

.partnership img {
  width: 100%;
}

.partnership {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

