@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@1,100;1,400&display=swap');

body{
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}

/*Resets */
:root {
    --primaryColor: #272a31;
    --secondaryColor: #d3d3d3;
    --concentColor: #ec5242;
}

/* Mobile starts here */
/* mobile-nav */
.sub-nav,
.nav-menu {
    display: none;
}

.mob-menu {
    display: flex;
    align-items: center;
    margin: 2%;
}

.mob-menu img {
    margin: auto;
}

header {
    width: 100%;
    background-color: white;
}

.fa-bars {
    cursor: pointer;
}

/* intro section */
.intro {
    background-image: url(./images/mobile_intro_bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
