@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@1,100;1,400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  padding: 0;
  top: 0;
  margin: 0;
  color: #333;
  background-image: url(./images/main_big.png);
}

/* Resets */

:root {
  --primaryColor: #272a31;
  --secondaryColor: #d3d3d3;
  --concentColor: #ec5242;
  --txtColor: #fff;
}

/* Mobile starts here */

/* mobile-nav */
.sub-nav {
  display: none;
}

.nav-item {
  list-style: none;
}

.nav-menu {
  display: none;
}

/* side menu starts here */
.nav {
  top: 0;
  left: 0;
  background-color: var(--primaryColor);
  opacity: 0.95;
  height: 100vh;
  width: 75%;
  display: block;
  position: fixed;
  padding: 15px;
  transition: 60s;
  z-index: 1;
}

.nav i {
  color: var(--txtColor);
  font-size: 2rem;
  float: right;
}

.mob-menu a {
  margin: auto;
}

.nav .nav-item a {
  color: var(--txtColor);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-item li {
  padding: 10px;
}

.mob-menu {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 0 12px;
}

header {
  width: 100%;
  background-color: var(--txtColor);
  padding-left: 0.1px;
  position: relative;
  top: 0;
}

.fa-bars {
  cursor: pointer;
}

/* intro section */
.intro {
  background-image: url(./images/mobile_intro_bg.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.hero-section {
  margin: 5%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  color: var(--concentColor);
  padding-top: 50px;
}

.intro-text > * {
  margin-bottom: 1px;
}

.intro-text h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 10px;
}

.intro-text h2 {
  font-weight: 400;
}

.hero-paragraph {
  border: 3px solid var(--txtColor);
  margin: 5% 0.97%;
  font-size: 1rem;
}

.hero-paragraph p {
  margin: 3%;
}

/* our location */
.our-location {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding-top: 4vh;
}

.date {
  font-weight: 900;
}

/* main-program section */
.main-program {
  background-image: url(./images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  margin: auto;
}

.program {
  color: var(--txtColor);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  width: 85%;
  align-items: center;
  margin-top: 8px;
  padding: 0.8rem;
}

.program p {
  color: var(--concentColor);
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
}

.program-heading {
  text-align: center;
  color: var(--txtColor);
  padding-top: 5rem;
}

.program-heading h1 {
  font-size: 24px;
  margin-top: 0.1px;
}

hr {
  border: 1px solid var(--concentColor);
  width: 4rem;
}

.program-heading hr {
  border: 1px solid var(--concentColor);
  margin-top: -10px;
}

.join-us {
  text-align: center;
  padding: 30px;
}

.join-us button {
  background-color: var(--concentColor);
  height: 60px;
  width: 300px;
  border: none;
  color: var(--txtColor);
  font-weight: 500;
  font-size: 1rem;
}

/* speakers */
.speakers .program-heading h1 {
  color: var(--primaryColor);
}

.speakingInt {
  display: flex;
  flex-direction: column;
}

.speakerInt p {
  margin: 5px;
}

.speakerInt {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.speak-container {
  width: 85%;
  margin: auto;
}

.speaker-name {
  font-weight: 800;
  font-size: 1rem;
}

.speakerInt img {
  width: 35vw;
}

.speaker-profession {
  font-size: 60%;
  color: var(--concentColor);
  font-style: italic;
}

.speaker-description {
  font-size: 70%;
}

/* sponsors stated here */
.sponsor img {
  filter: grayscale(100%);
}

.partners {
  background-color: var(--primaryColor);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10vh;
}

.partnership img {
  width: 100%;
}

.partnership {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 28px;
  margin-bottom: 28px;
}

.footer img {
  width: 80%;
}

.footer .txt {
  font-size: 0.8rem;
  font-weight: bold;
}

/* About -page mobile-version */
.about-paragraph {
  font-size: 1rem;
  text-align: center;
  margin: 20px 0.1px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 6px 24px 1px, rgba(0, 0, 0, 0.08) 0.1px 0.1px 0.1px 1px;
}

.summary-header {
  color: var(--concentColor);
}

.reach-us-out {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 0.8rem;
  margin: 20px;
  margin-top: 5%;
}

.reach-us-out i {
  color: var(--concentColor);
  font-size: 1rem;
}

.un-logo img {
  width: 100%;
}

.un-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  gap: 0.5rem;
  color: var(--concentColor);
  font-weight: 700;
  font-size: 1.1rem;
}

.rest {
  background-color: var(--txtColor);
}

.sp-2 {
  font-weight: 300;
}

/* our acitivities */
.un-activities {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--concentColor);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#p {
  text-align: center;
  padding: 20px;
  width: 80%;
}

.gallery img {
  width: 80%;
}

/* img overlay */
.img-cont {
  position: relative;
}

.overlay {
  margin: auto;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ec3723a4;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.img-cont:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pics {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0.1px;
}

.ptn-abt {
  position: static;
}

.sub-cont p {
  width: 70%;
  margin: auto;
  font-weight: 600;
}

#ke {
  font-size: 120%;
}

.sub-cont {
  margin: auto;
  text-align: center;
}

#mail {
  background-color: var(--concentColor);
  padding: 4px;
  color: var(--txtColor);
  border-radius: 10px;
  cursor: pointer;
}

/* Desktop version */
@media (min-width: 768px) {
  /* nav-section */
  .mob-menu span {
    display: none;
  }

  #close {
    display: none;
  }

  .sub-nav {
    display: block;
    background-color: #3e3e3e;
    padding: 1px 3%;
  }

  .sub-nav-item {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 3px;
  }

  .sub-nav-item a {
    color: var(--txtColor);
    font-size: 1rem;
    border-right: 1px solid white;
  }

  .sub-nav-item i {
    margin: 0 2rem;
  }

  .nav-menu {
    display: block;
  }

  .nav-item {
    display: flex;
    gap: 25px;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px;
  }

  .nav-item a {
    text-decoration: none;
    color: #333;
    transition: 0.3s ease;
  }

  .nav-item a:hover {
    border-bottom: 1px solid var(--concentColor);
  }

  .main-nav {
    display: flex;
    align-items: center;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-between;
  }

  .nav-item .active {
    color: var(--concentColor);
    border-bottom: 1px solid var(--concentColor);
  }

  header {
    box-shadow: rgb(0 0 0 / 30%) 1px 2px 8px 1px;
  }

  /* introsection starts here */
  .intro {
    background-image: url(./images/main_big.png);
    margin-top: 1px;
    height: auto;
  }

  .intro-text h1,
  h2 {
    width: 60%;
    text-align: left;
    font-size: 400%;
  }

  .intro-text h2 {
    font-weight: 300;
  }

  .intro-text {
    padding-top: 1px;
    padding-bottom: 35px;
  }

  .hero-paragraph {
    margin: 0;
    font-size: 1rem;
    width: 50%;
  }

  .hero-paragraph p {
    margin: 12px;
    line-height: 20px;
  }

  .our-location {
    text-align: left;
    line-height: 2rem;
  }

  .date {
    font-size: 170%;
  }

  /* main program starts here */
  .program-heading {
    font-size: 30px;
  }

  .all-program {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
  }

  .program {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    align-content: center;
    height: 90%;
  }

  .program p {
    font-size: 1.3rem;
  }

  .program .description {
    text-align: center;
    font-size: 1rem;
  }

  /* join-us section */
  .join-us button {
    margin: 50px;
  }

  /* speaker section */
  .Intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    margin-bottom: 50px;
  }

  .speakerInt {
    gap: 5%;
  }

  .speakerInt img {
    width: 110%;
  }

  .speaker-name {
    font-size: 22px;
    margin: 3px;
  }

  .speaker-profession {
    font-size: 13px;
    margin: 3px;
  }

  .speaker-description {
    font-size: 14px;
    margin: 3px;
  }

  /* sponsors */
  .partnership {
    display: flex;
  }

  .partners h1 {
    font-size: 2vw;
  }

  /* footer */
  .footer {
    justify-content: center;
    align-items: center;
  }

  .footer img {
    width: 50%;
  }

  /* Desktop About page starts here */
  .about-paragraph {
    padding: 5%;
    font-size: 1.03em;
  }

  .summary-header {
    font-size: 1.4rem;
  }

  .reach-us-out {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .un-activities,
  .un-logo {
    font-size: 1.4rem;
  }

  .un-logo img {
    width: 120%;
  }

  #p {
    font-size: 1.2rem;
    width: 70%;
  }
}
